
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, required: true %>
    <%= f.input :location, required: true %>
    <!--<%= f.input :date %>-->
    <%= f.datetime_field :date, required: true%>
    <!--<%= f.datetime_field :date%>-->
    <%= f.input :description, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
